includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon
    - vendor/phpstan/phpstan-php-parser/extension.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon

rules:
    - App\PHPStan\Factory\FileParserInstantiationRule

parameters:
    symfony:
        container_xml_path: var/cache/test/App_KernelTestDebugContainer.xml
    doctrine:
        objectManagerLoader: tests/ObjectManager.php
    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
    level: 8
    paths:
        - src