{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-12 col-md-9 product-show order-1 order-md-2">
                <turbo-frame id="remindo-test">
                    {% include 'remindo/_uploadForm.html.twig' %}
                </turbo-frame>
            </div>
        </div>
    </div>
{% endblock %}